body {
    background-color:beige;
}

h1 {
    font-weight:bold;
    color:darkred;
    font-size:32px;
    padding-left:50px;
    padding-top:5px;
    display:inline;
    float:left;
}
h2 {
    font-weight:bold;
    color:green;
    font-size: 32px;
    padding-right:50px;
    display:inline;
    float:right;
}

#searchbar {
    width:40vh;
    font-size:16px;
    border:1px solid #ddd;
    display:block;
    margin:0 auto;
}

#database {
    list-style-type:none;
}

.movieDataBase {
    clear:both;
    min-height:200px;
    height:70vh;
    width:30%;
    font-size:18px;
    overflow:hidden;
    overflow-y:scroll;
    display:inline-block;
    float:left;
}

.movieQueue {
    min-height:200px;
    height:70vh;
    width:30%;
    font-size:18px;
    overflow:hidden;
    overflow-y:scroll;
    float:right;
    display:inline-block;
    color:green;
}

.active {
    color:green;
    font-weight:bold;
}
.inactive {
    color:black;
    font-weight:lighter;
}