h1 {
    font-weight:bold;
    color:darkred;
    font-size:32px;
    padding-left:50px;
    display:inline;
    float:left;
}
h2 {
    font-weight:bold;
    color:grey;
    font-size: 32px;
    padding-left:250px;
    display:inline;
    float:left;
}

div ul {
    clear:both;
    min-height:200px;
    height:70vh;
    width:20%;
    overflow:hidden;
    overflow-y:scroll;
}

.refresh {
    position:absolute;
    top:85vh;
    left:17vh;
    font-size:x-large;
}

.active {
    color:green;
    font-weight:bold;
}
.inactive {
    color:black;
    font-weight:lighter;
}